*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;

}

.item1{
    border:1px solid #ddd;
    margin:5px;

}

.img-div img{
    width:800px;
    height:260px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;

}